:root {
  font-size: 16px;
}


body {
  margin: 0;
  /* color: rgb(4, 4, 4); */
  
}

h2{
  margin:  .5rem 0;
}
.app{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 400px;
  height: 150px;
  background-color: #ffff;
  padding: 1rem;
  box-shadow: 0 0 10px  #000;
 transition: box-shadow 200ms ease;
}


.card__btn{
 color: white;
 border: 0;
 width: 45px;
 aspect-ratio: 1; 
 font-size: 1.5rem;
 border-radius: 50%;
 cursor: pointer;
 box-shadow: 0 0 10px  #000;
 transition: box-shadow 200ms ease;
}

.card__btn:hover{
  
 box-shadow: 0 0 5px  #000;
 transition: box-shadow 200ms ease;
}

.card__container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size:12px;
}

.card__header{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.card__title{
  font-style: italic;
  font-size: 14px;
}
